---
name: Publish
permissions:
  contents: read
'on':
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          set-safe-directory: ${{ github.workspace }}
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: make clean deps package install
      - run: make publish PASSWORD=${{ secrets.PYPI_TOKEN }}
